body{
    #success{
        background-color: aliceblue;
        padding: 10px 10px;
        border-radius: 15px;
        box-shadow: 10px 10px 20px gray;
        text-align: center;
        position: fixed;
        top: 30%;
        left: 40%;
    }
    #delete{
        float: right;
        padding: 20px 20px;
        position: relative;
        #btn-delete,#btn-logout{
            margin-top: 10px;
            display: block;
        }
    }
}