body {
  background-image: url(/Media/skyscrapers_chicago_usa_city_____g_3840x2400.jpg);
  background-size: cover; }
  body .container-fluid #login {
    box-shadow: 5px 5px 15px #9c9c9c;
    border-radius: 10px;
    top: 25%;
    left: 37%;
    position: fixed;
    text-align: center;
    max-width: 30%;
    padding: 50px 70px;
    background-color: rgba(197, 195, 166, 0.7); }
    body .container-fluid #login #login-text {
      padding-bottom: 30px; }
    body .container-fluid #login .form-group {
      justify-content: center; }
      body .container-fluid #login .form-group .login-form {
        margin: 10px 10px; }
      body .container-fluid #login .form-group button {
        margin-top: 20px;
        padding: 10px 50px;
        margin-bottom: 20px; }

/*# sourceMappingURL=loginform.css.map */
