body {
  background-image: url(/Media/skyscrapers_chicago_usa_city_____g_3840x2400.jpg);
  background-size: cover; }
  body .container-fluid #register {
    box-shadow: 5px 5px 15px #8f8f8f;
    text-align: center;
    border-radius: 5px;
    top: 20%;
    left: 40%;
    position: fixed;
    background-color: rgba(130, 183, 219, 0.7);
    padding: 40px 40px; }
    body .container-fluid #register h3 {
      padding: 20px 20px; }
    body .container-fluid #register .form-control {
      margin: 10px 0px; }
    body .container-fluid #register button {
      margin-top: 20px;
      width: 200px;
      margin-bottom: 20px; }

/*# sourceMappingURL=register_form.css.map */
